@page "/change-folder"

<div>
    This is used to test does it is required to place Blazor components in Pages Folder? If it loads the response is
    Negative!!
    <code>The component loads independent of its folder located there!</code>
</div>