# CompanyEmployees
# ClientSide
# IntegrationTest
# HostedServices
# ControllersTestSample
# IntegrationTestSample
NorthwindIntl/
# Practices
NorthwindWeb
NorthwindSPA
NorthwindMVC
# RazorPageTestSample
NorthwindXUnit
NorthwindTest
NorthwindSolution
NorthwindNUnit
NorthwindIdentity
NorthwindEntitiesLib
NorthwindEmployee
NorthwindCookieAuth
NorthwindContextLib
NorthwindAPI
# SignalRSample
# SignalRClient
# ObjectPoolSample
# HostedServices
BlazorWebAssemblySignalRApp/Client/bin
BlazorWebAssemblySignalRApp/Client/obj
BlazorServerSignalRApp/bin
BlazorServerSignalRApp/obj
Northwind.db
