@page "/js-interop-helperclass"

<div>
    <JSInteropHelperClassChild Name="Component 1" />
    <JSInteropHelperClassChild Name="Component 2" />
    <JSInteropHelperClassChild Name="Component 3" />
</div>