@inherits LayoutComponentBase

<PageTitle>BlazorServerSignalRApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* <a href="/account/login">Login</a> *@
            <LoginStatus />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
