@page "/"
@namespace BlazorWebAssemblySignalRApp.Client
@using BlazorWebAssemblySignalRApp.Client
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<component type="typeof(App)" render-mode="WebAssemblyPrerendered" />
<persist-component-state />

@* in Blazor Server when Circuit disconnect it notify user with a modal. we can customize it as follow *@
@* <div id="components-reconnect-modal">
    <p>
    This is the customized version of Reconnect Modal
    </p>
    <p>
    in Blazor Server when Circuit disconnect it notify user with a modal. we can customize it here

    </p>
    <p>To add style to this modal use the following classes</p>
    <pre>
    #components-reconnect-modal {
    display: none;
    }

    #components-reconnect-modal.components-reconnect-show {
    display: block;
    }
    </pre>

    </div> *@
