@page "{id?}"

<p>
    To use Route Values we should use <code>RouteData.Values["id"]</code>.For example, this page has id equal to @RouteData.Values["id"]</p>
<p>
    To get query string we should use <code>Request.Query["q"]</code>,for example: @Request.Query["q"]
</p>