@using NorthwindIntl.Controllers

@using (Html.BeginForm(nameof(AccountController.PerformLogin), "Account",FormMethod.Post))
{
    <fieldset>
        <p>Username:</p>
        <p><input type="text" name="username" /></p>
        <p>Password:</p>
        <p><input type="password" name="password" /></p>
        <p>Remember me: <input type="checkbox" name="isPersistent"
        value="true" /></p>
        <input type="hidden" name="ReturnUrl" value="@(Context.Request.Query["ReturnUrl"])"/>
        <button>Login</button>
    </fieldset>
}