<div class="card bg-light mt-3" style="width:18rem ">
    <div class="card-body">
        <h3 class="card-title">ChildBind Component</h3>
        <p class="card-text">
            Child <code>Year</code>: @Year
        </p>
        <button @onclick="UpdateYearFromChild">Update Year from Child</button>
    </div>
</div>


@code {
    private Random rng = new Random();
    [Parameter]
    public int Year { get; set; }

    [Parameter]
    public EventCallback<int> YearChanged { get; set; }
    @* By invoking this delegate we can directly change the expression bind to Parameter Year *@
    private async Task UpdateYearFromChild()
    {
        await YearChanged.InvokeAsync(rng.Next(1955, 2022));
    }
}