<h2>Virgin Galactic&reg;</h2>

<p>
    Virgin Galactic is a registered trademark of
    <a href="https://www.virgingalactic.com/">Galactic Enterprises, LLC</a>.
</p>
<input size="80" @attributes="others" />

@code {
    [Parameter]
    public string Id { get; set; } = "Test Id";

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, Object>? others { get; set; }
}
