@page "/"

<h1 class="sample">Hello, world!</h1>

Welcome to your new app. This is your first Blazor App

<SurveyPrompt Title="How is Blazor working for you?" />

<SampleComponent CurrentCount="10" />
