<div class="component2-style">
    <h2>Component 2 Header</h2>
    <p>This is component two contents with purpose of checking the css bundle that generated automaticly. Does it create
        one bundle for all components or it creates one bundle for each component</p>
</div>