<HeadContent>
    <link href="_content/ComponentLibrary/additionalStyles.css" rel="stylesheet" />
</HeadContent>


<div class="extra-style">
    <p>
        This component is defined in the <strong>ComponentLibrary</strong> package.
    </p>
    <p>
        <img alt="Jeep YJ&reg;" src="_content/ComponentLibrary/jeep-yj.png" />
    </p>
</div>
