@page "/"
@namespace BlazorServerSignalRApp.Pages
@using Data
@using Microsoft.AspNetCore.Authentication
@using SharpPad
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

@{
    var initialState = new InitialApplicationState()
    {
        Tokens = new TokenProvider()
        {
            AccessToken = await HttpContext.GetTokenAsync("access_token"),
            RefreshToken = await HttpContext.GetTokenAsync("id_token"),
        },
        TraceIdentifier = HttpContext.TraceIdentifier,
        IP = HttpContext.Connection.RemoteIpAddress.Address,
        LocalPort = HttpContext.Connection.LocalPort,
    };
    @* await initialState.Tokens.Dump("SentToApp"); *@
}

<component type="typeof(App)" render-mode="ServerPrerendered" param-InitialState="initialState" />
<persist-component-state />

@* in Blazor Server when Circuit disconnect it notify user with a modal. we can customize it as follow *@
<div id="components-reconnect-modal">
    <p>
        This is the customized version of Reconnect Modal
    </p>
    <p>
        in Blazor Server when Circuit disconnect it notify user with a modal. we can customize it here

    </p>
    <p>To add style to this modal use the following classes</p>
    <pre>
            #components-reconnect-modal {
    display: none;
}

#components-reconnect-modal.components-reconnect-show {
    display: block;
}
        </pre>

</div>
