@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Current User is Admin: @((User!=null)?User.IsInRole("Admin"):"NA")</h1>
@foreach (var claim in User.Claims)
{
    <br/>
    <span>@(claim.Type) : @claim.Value</span>
    
}
<h1>Current Identity Has Role Claim Type with Values: @((User!=null)?User?.Claims?.SingleOrDefault(c =>(c.Type==System.Security.Claims.ClaimTypes.Role))?.Value:"Not Defined")</h1>
