@page "/use-rcl"
<div>
    <ComponentLibrary.Component1>
        <p>This is a sample</p>
    </ComponentLibrary.Component1>
</div>
<hr>
<div>


    <h1>Consume component (<code>additionalStyles.css</code> example)</h1>
    <div class="extra-style">
        This is a test to check scope of Link/link in Extra Style file
    </div>
    <hr>
    <h2>Direct Use of Image is same is using it inside RCL</h2>
    <p>
        <img alt="Jeep YJ&reg;" src="_content/ComponentLibrary/jeep-yj.png" />
    </p>

</div>